@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oaqy5u');
  src:  url('fonts/icomoon.eot?oaqy5u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oaqy5u') format('truetype'),
    url('fonts/icomoon.woff?oaqy5u') format('woff'),
    url('fonts/icomoon.svg?oaqy5u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-avatar:before {
  content: "\e900";
}
.icon-add-ios:before {
  content: "\e901";
}
.icon-add-type-ios:before {
  content: "\e902";
}
.icon-android:before {
  content: "\e903";
}
.icon-approval:before {
  content: "\e904";
}
.icon-app-update:before {
  content: "\e905";
}
.icon-arrow-back:before {
  content: "\e906";
}
.icon-backward:before {
  content: "\e907";
}
.icon-bookmark:before {
  content: "\e908";
}
.icon-bookmark-empty:before {
  content: "\e909";
}
.icon-calendar:before {
  content: "\e90a";
}
.icon-cast:before {
  content: "\e90c";
}
.icon-categories:before {
  content: "\e90d";
}
.icon-chat:before {
  content: "\e90e";
}
.icon-checkmark:before {
  content: "\e90f";
}
.icon-clap:before {
  content: "\e910";
}
.icon-clear:before {
  content: "\e911";
}
.icon-close:before {
  content: "\e912";
}
.icon-close-mini:before {
  content: "\e913";
}
.icon-connect:before {
  content: "\e914";
}
.icon-darkmode:before {
  content: "\e915";
}
.icon-discount:before {
  content: "\e916";
}
.icon-dollar:before {
  content: "\e917";
}
.icon-download:before {
  content: "\e918";
}
.icon-edit:before {
  content: "\e919";
}
.icon-end:before {
  content: "\e91a";
}
.icon-expand-arrow:before {
  content: "\e91b";
}
.icon-facebook:before {
  content: "\e91c";
}
.icon-faq:before {
  content: "\e91d";
}
.icon-fast-forward:before {
  content: "\e91e";
}
.icon-filter:before {
  content: "\e91f";
}
.icon-forward:before {
  content: "\e920";
}
.icon-fullscreen:before {
  content: "\e921";
}
.icon-gift:before {
  content: "\e922";
}
.icon-hide:before {
  content: "\e923";
}
.icon-imdb:before {
  content: "\e924";
}
.icon-info:before {
  content: "\e925";
}
.icon-instagram:before {
  content: "\e926";
}
.icon-ios:before {
  content: "\e927";
}
.icon-keypad:before {
  content: "\e928";
}
.icon-kids-version:before {
  content: "\e929";
}
.icon-like:before {
  content: "\e92a";
}
.icon-like-empty:before {
  content: "\e92b";
}
.icon-log-out:before {
  content: "\e92c";
}
.icon-menu:before {
  content: "\e92d";
}
.icon-minus:before {
  content: "\e92e";
}
.icon-normal-screen:before {
  content: "\e92f";
}
.icon-notification:before {
  content: "\e930";
}
.icon-pause:before {
  content: "\e931";
}
.icon-play:before {
  content: "\e932";
}
.icon-plus:before {
  content: "\e933";
}
.icon-g:before {
  content: "\e934";
}
.icon-mic:before {
  content: "\e935";
}
.icon-pg:before {
  content: "\e936";
}
.icon-pofefilm-en-logotype:before {
  content: "\e937";
}
.icon-pofefilm-fa-logotype:before {
  content: "\e938";
}
.icon-pofefilm-logo:before {
  content: "\e939";
}
.icon-price:before {
  content: "\e93a";
}
.icon-profile-setting:before {
  content: "\e93b";
}
.icon-qrcode-scanner:before {
  content: "\e93c";
}
.icon-search:before {
  content: "\e93d";
}
.icon-see-more:before {
  content: "\e93e";
}
.icon-setting:before {
  content: "\e93f";
}
.icon-share-android:before {
  content: "\e940";
}
.icon-share-ios:before {
  content: "\e941";
}
.icon-skip:before {
  content: "\e942";
}
.icon-subtitles:before {
  content: "\e943";
}
.icon-telegram:before {
  content: "\e944";
}
.icon-term:before {
  content: "\e945";
}
.icon-ticket:before {
  content: "\e946";
}
.icon-time:before {
  content: "\e947";
}
.icon-toman:before {
  content: "\e948";
}
.icon-translate:before {
  content: "\e949";
}
.icon-tv:before {
  content: "\e94a";
}
.icon-twitter:before {
  content: "\e94b";
}
.icon-upera-en-logotype:before {
  content: "\e94c";
}
.icon-upera-fa-logotype:before {
  content: "\e94d";
}
.icon-upera-logo:before {
  content: "\e94e";
}
.icon-version:before {
  content: "\e94f";
}
.icon-videomark:before {
  content: "\e950";
}
.icon-videomark-empty:before {
  content: "\e951";
}
.icon-wallet:before {
  content: "\e952";
}
.icon-watch-list:before {
  content: "\e953";
}
.icon-whatsapp:before {
  content: "\e954";
}
.icon-youtube:before {
  content: "\e955";
}
.icon-document:before {
  content: "\e956";
}
.icon-timer:before {
  content: "\e957";
}
.icon-pg13:before {
  content: "\e958";
}
.icon-Profile:before {
  content: "\e959";
}
.icon-buy:before {
  content: "\e95a";
}
.icon-delete:before {
  content: "\e95b";
}
.icon-dislike:before {
  content: "\e95c";
}
.icon-download-box:before {
  content: "\e95d";
}
.icon-Group-1538:before {
  content: "\e95e";
}
.icon-like-1:before {
  content: "\e95f";
}
.icon-send:before {
  content: "\e960";
}
.icon-Star:before {
  content: "\e961";
}
.icon-star-empty:before {
  content: "\e962";
}
.icon-upload:before {
  content: "\e963";
}
.icon-volume-down:before {
  content: "\e964";
}
.icon-volume-off:before {
  content: "\e965";
}
.icon-volume-up:before {
  content: "\e966";
}
