:root {
    --white: #fff;
    --primary: #18c7dd;
    --primary-1: #108493;
    --primary-2: #108493;
    --primary-3: #108493;
  }
@media (max-width: 767.98px) {
  .logo_another_pages {
    padding-top: 0;
  }
}