@media (max-width:567px){.img-grid-flow[data-v-adb97cbe]{aspect-ratio:var(--285dbf18)!important}}
.play-icon[data-v-7dfe7bae]{color:#fff;left:45%;position:absolute;top:45%;z-index:2}
.no-content-message[data-v-705b23b4]{align-items:center;display:flex;justify-content:center;min-height:200px}.no-content-message .text-muted[data-v-705b23b4]{opacity:.6}
